{% extends '::base.html.twig' %}

{% block headTitle %}{{ title }}{% endblock %}

{% block body %}
    {% for article in articles %}
        {% include ':article:article_content.html.twig' %}
    {% endfor %}
    {% if not doPagination is defined %}
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    {% endif %}
{% endblock %}