{% extends '::base.html.twig' %}

{% block headTitle %}Articles{% endblock %}

{% block body %}
    {% for article in articles %}
        {% include ':article:article_content.html.twig' %}
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}