{% extends '::base.html.twig' %}

{% block headTitle %}Tags{% endblock %}

{% block body %}
    {% for tag in tags %}
        <h1>{{ tag.name }}</h1>

        <div style="padding: 5px 20px">
            {% for article in tag.articles %}
                <div><a href="{{ path('app_article_show', {'slug': article.slug}) }}">{{ article }}</a></div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(tags) }}
    </div>
{% endblock %}